html{
  font-family: $font-body;
  color: $color-default;
  font-weight: 200;
  letter-spacing: .05em;
  background: $color-bg;
}
body{
  font-size: .875rem;
}
html, body{
  position: relative;
}
main{
  overflow: hidden;
  position: relative;
  transform: translate3d(0,0,0);
}

header{
  position: relative;
}

section{
  position: relative;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  &+section:not(.s-no-line){
    padding-top: 10rem;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 0;
      right: 0;
      height: 6rem;
      width: 3px;
      margin: auto;
      background: $color-primary;
    }
    @media (min-width: $screen-lg){
      padding-top: 18rem;
      &:before{
        top: 4rem;
        height: 10rem;
      }
    }
  }
}

h1, h2, h3, h4, p{
  margin-bottom: 0;
}
h1, h2, h3, h4, h5{
  font-family: $font-heading;
  font-weight: 400;
}
h1{
  line-height: 1.25;
  margin-top: 0;
  font-size: 2rem;
  color: $color-primary;
  u{
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 0;
    &:after{
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      bottom: .175em;
      background: $color-default;
      z-index: -1;
    }
  }
  small{
    color: $color-primary;
    font-size: .7em;
    margin-top: .3rem;
    display: block;
  }
}
h2{
  font-size: 1.375rem;
  line-height: 1.25;
  letter-spacing: .01em;
  color: $color-primary;
  &+p{
    margin-top: 1.75rem;
  }
}
h3{
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 0;
}
h4{
  font-size: 1.25rem;
  color: $color-primary;
  &+h5{
    margin-top: 1rem;
  }
}
h5{
  font-size: 1rem;
  margin: 2rem 0 0;
  color: $color-primary
}
p{
  line-height: 1.75;
  //font-size: 15px;
  letter-spacing: .03em;
  &+p{
    margin-top: 1rem;
  }
  &+h2{
    margin-top: 4rem;
  }
  @media (min-width: $screen-sm) {
    &+p{
      margin-top: 2rem;
    }
  }
}
address{
  font-style: normal;
}

button{
  border: 0;
  background: 0;
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}


@media (min-width: $screen-sm) {
  h1{
    font-size: 2.25rem;
  }
}
@media (min-width: $screen-md) {
  h1{
    font-size: 3em;
  }
}
@media (min-width: $screen-lg){
  h1{
    &+p{
      margin-top: 2.75rem;
    }
  }
  h3{
    font-size: 1.75rem;
  }
}