.p-onas{

  .photos{
    margin: .75rem 0 3.5rem;
    @media (min-width: $screen-lg){
      float: right;
      width: 50%;
      margin-left: 4.5rem;
    }
  }

  .photo{
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  figure{
    margin: 2rem 1% 1.5rem 0;
    figcaption{
      padding: 1rem 0 0;
      font-style: italic;
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          margin: 0;
          padding: 0 0 .375rem 2rem;
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            height: .375rem;
            width: .375rem;
            background: $color-primary;
            left: .75rem;
            top: .375rem;
          }
        }
      }
    }
    &+figure{
      margin-top: 1rem;
      @media (min-width: $screen-lg){
        margin-top: 3rem;
      }
    }
  }

  .content{
    .question{
      font-weight: 700;
      color: $color-primary;
      display: block;
    }
  }

  @media (min-width: $screen-sm){
    figure{
      margin: 3rem 8% 2rem;
    }
  }
  @media (min-width: $screen-lg){
    figure{
      margin: 0;
    }
  }
}